<div class="col-10 offset-1">

  <div class="booyah-box">
    <h1 class="text-center"><%= @course.title %></h1>
    <% if @course.image.file %>
      <div class="course-image">
        <%= image_tag @course.image.to_s, class: 'img-fluid img-h-100' %>
      </div>
    <% end %>

    <br/>

    <div class="text-center">
      <%= link_to 'Preview as student...', course_path(@course) %>
    </div>

    <div class="text-center">
      <%= link_to 'Add a new section...', new_instructor_course_section_path(@course) %>
    </div>

    <br class="clr"/>

    <div class="container mt-3">
      <ul class="sections">
        <% @course.sections.rank(:row_order).each do |section| %>
          <li data-update-url="<%= instructor_section_path(section) %>">
            <%= section.title %>
            <%= link_to 'Add lesson...', new_instructor_section_lesson_path(section), class: 'float-right btn btn-warning btn-sm' %>
            <ul class="lessons">
              <% section.lessons.rank(:row_order).each do |lesson| %>
                <li data-update-url="<%= instructor_lesson_path(lesson) %>">
                  <b><%= lesson.title %></b> - <%= lesson.subtitle %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
      <br class="clr"/>
    </div>
  </div>

</div>

<script>
  $(function() {
    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });

    $('.sections').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>