<div class="col-10 offset-1">

  <div class="booyah-box">
    <h1 class="text-center"><%= @course.title %></h1>
    <% if @course.image.file %>
      <div class="course-image">
        <%= image_tag @course.image.to_s, class: 'img-fluid img-h-100' %>
      </div>
    <% end %>

    <br/>

    <div class="row">
      <div class="col-sm-8 col-12 mb-3">
        <%= @course.description %>
      </div>
      <div class="col-sm-4 col-12 border-left">
        <div class="text-center">
          <%= link_to 'Preview as student...', course_path(@course), class: 'btn btn-light w-100 mb-2' %>
        </div>

        <div class="text-center">
          <!-- New Section Modal Button -->
          <button type="button" class="btn btn-warning w-100" data-toggle="modal" data-target="#newSectionModal">
            Add a new section...
          </button>
        </div>
      </div>
    </div>

    <br class="clr"/>

    <div class="container mt-3">
      <ul class="sections">
        <% @course.sections.rank(:row_order).each do |section| %>
          <li data-update-url="<%= instructor_section_path(section) %>" class="booyah-box section section-li">
            <div class="header">
              <i class="fa fa-reorder"></i>
              <%= section.title %>
              <!-- New Section Modal Button -->
              <button type="button" class="float-right btn btn-warning btn-sm new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
                Add lesson...
              </button>
              <br class="clr"/>
            </div>
            <ul class="lessons">
              <% section.lessons.rank(:row_order).each do |lesson| %>
                <li data-update-url="<%= instructor_lesson_path(lesson) %>" class="booyah-box lesson-li">
                  <div class="row">
                    <div class="col-1 lesson-handle">
                      <i class="fa fa-reorder fa-lg" aria-hidden="true"></i>
                    </div>
                    <div class="col-11 text-center">
                      <p>
                        <b><%= lesson.title %></b>
                      </p>
                      <hr/>
                      <p>
                        <%= lesson.subtitle %>
                      </p>
                    </div>
                  </div>
                  <%# <br class="clr"/> %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
      <br class="clr"/>
    </div>
  </div>

</div>

<!-- New Section Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="newSectionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newSectionModalLabel">Add a new section</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(@course) do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Add section', class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- New Lesson Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="newLessonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newLessonModalLabel">Add a new lesson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @lesson, url: '#', html: {id: 'newLessonForm' } do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
          <%= f.input :subtitle %>
          <%= f.input :video %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Add lesson', class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.new-lesson-button').click(function( event ) {
      var lessonUrl = $(event.target).data('lesson-url');
      $('#newLessonForm').attr('action', lessonUrl);
    });

    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });

    $('.sections').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>