<br />

<div class="col-10 offset-1">
  <div class="booyah-box">

    <h1 class="text-center"><%= @course.title %></h1>
    
    <br/>

    <div class="row">
      <% if @course.image.file %>

      <div class="col-sm-4 col-12">
        <%= image_tag @course.image.to_s, class: 'img-thumbnail img-h-100' %>
      </div>

      <div class="col-sm-8 col-12">
      <% else %>

      <div class="col-12">
      <% end %>
        <% if current_user %>
          <% if current_user == @course.user %>
            <%= link_to 'Manage', instructor_course_path(@course), class: 'btn btn-light btn-large float-right' %>
          <% else %>
            <% if current_user.enrolled_in?(@course) %>
              <span class="badge badge-warning">
                Enrolled
              </span>
            <% else %>
              <% if @course.free? %>
                <%= link_to 'Enroll', course_enrollments_path(@course), method: :post, class: 'btn btn-warning float-right', id: 'enroll' %>
              <% else %>
                <%= form_tag course_enrollments_path(@course) do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button float-right"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-email="<%= current_user.email %>"
                          data-description="Enroll in: <%= @course.title %>"
                          data-amount="<%= (@course.cost * 100).to_i %>"
                          data-locale="auto"></script>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <h3 class="badge badge-info float-right">Sign In to Enroll!</h3>
        <% end %>
        <% unless current_user && current_user.enrolled_in?(@course) %>
          <span class="badge badge-warning">
            <%= number_to_currency(@course.cost) %>
          </span>
        <% end %>
        <br />
        <br />
        <%= @course.description %>
      </div>
    </div>

    <br/>

    <div class="col-12">
      <% @course.sections.each_with_index do |section, index| %>
        <div class="booyah-box section text-center">
          <h4>Section <%= index + 1 %>: <%= section.title %></h4>
          <div class="row">
            <% section.lessons.each do |lesson| %>
              <div class="lesson col-12 col-md-6 col-lg-4 col-xl-3">
                <%= link_to lesson_path(lesson) do %>
                  <div class="booyah-box">
                    <b><%= lesson.title %></b>
                    <hr class="lesson-hr"/>
                    <%= lesson.subtitle %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <br class="clr" />
        </div>
      <% end %>
    </div>
  </div>
</div>
