<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
      <%= link_to 'Flixter', root_path, class: 'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#linkToggles" aria-controls="linkToggles" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="linkToggles">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                Log Out
              <% end %>
            <% else %>
              <%= link_to new_user_session_path, class: 'nav-link' do %>
                Log In
              <% end %>              
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link2</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="notice-box">
      <% if notice.present? %>
        <div class="alert alert-warning col-8 offset-2"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-danger col-8 offset-2"><%= alert %></div>
      <% end %>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </body>

  <footer>
    <div class="text-right h-100 p-2">
      <small class="text-light font-italic">
        A site coded by Jeremy Oglesby
      </small>
    </div>
  </footer>
</html>
