<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content">
      <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
        <%= link_to 'Flixter', root_path, class: 'navbar-brand' %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#linkToggles" aria-controls="linkToggles" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="linkToggles">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'See All Courses', courses_path, class: 'nav-link' %>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                  Log Out
                <% end %>
              <% else %>
                <%= link_to new_user_session_path, class: 'nav-link' do %>
                  Log In
                <% end %>              
              <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link2</a>
            </li>
          </ul>
        </div>
      </nav>

      <%= yield %>

      <div class="notice-box">
        <% if notice.present? %>
          <div class="alert alert-warning col-8 offset-2"><%= notice %></div>
        <% end %>
        <% if alert.present? %>
          <div class="alert alert-danger col-8 offset-2"><%= alert %></div>
        <% end %>
      </div>
    </div>

    <div id="footer">
      <div class="container h-100 p-3">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3 mt-2">
            <b>Teachers</b>
            <br/>
            <%= link_to 'Teach a Course', new_instructor_course_path %>
            <br/>
            <%= link_to 'View Dashboard', '#' %>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mt-2">
            <b>About</b>
            <br/>
            <%= link_to 'Team', '#' %>
            <br/>
            <%= link_to 'Careers', '#' %>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mt-2">
            <b>Contact</b>
            <br/>
            <%= link_to 'Email Us', '#' %>
            <br/>
            <span>Phoenix, AZ</span>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mt-2">
            <small class="text-light font-italic">
              A site coded by Jeremy Oglesby
            </small>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
